body{
	    margin:0;
		padding:0;
        background-color:yellow;		
}
 .head{
	        float:left;
			   list-style:none;
			   margin-top:30px;
			   margin-left:100px;
 }
  .head li{
	           list-style:none;
			   display:inline-block;
			   padding:30px;
			   
  }
   .head li a{
	             text-decoration:none;
		 font-size:40px;
		 position:relative;
		 color:#313131;
		 font-weight:700;
		 font-family:sans-serif;
		 display:block;
		 overflow:hidden;
		 transition:0.7s all;
		 padding:14px 30px;
   }
    .head li a::before{
		                  content:'';
					  width:60px;
					  position:absolute;
					  border-bottom:8px solid white;
					  bottom:0;
					  left:350px;
					  transition:0.7s all;
	}
	.head li a:hover::before{
		                           left:0;
	}
    .search{
		         position:absolute;
				 top:50%;
				 left:50%;
				 transform:translate(-50%,-50%);
				 background:#2f3640;
			  height:40px;
			  border-radius:40px;
			  padding:10px;
	}
	 .search:hover > .search-txt{
		                          width:240px;
									   padding:0 6px;
	 }
	 .search:hover > .search-btn{
		                            background:white;
	 }
	 .search-btn{
		           color:#e84118;
				float:right;
				width:40px;
				height:40px;
				border-radius:50%;
				background:#2f3640;
				display:flex;
				justify-content:center;
				align-items:center;
				transition:0.4s;
	 }
	 .search-txt{
		          border:none;
				 background:none;
				 outline:none;
				 float:left;
				 padding:0;
				 color:white;
				 font-size:14px;
				 transition:0.4s;
				 line-height:40px;
				 width:0px;
	 }